# --- Của bạn (Local) ---
target/
*.class
javafx-sdk-21.0.10/

# --- Chặn file nặng (Quan trọng cho bạn) ---
*.exe

# --- IDE (VS Code & IntelliJ) ---
.vscode/
.idea/
*.iml

# --- Build & OS ---
.gradle/
build/
bin/
out/
*.log
.DS_Store
Thumbs.db